body {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
}

h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}
