body {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
}

h3 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.list-default {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.list-default > li {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

.list-default li a {
  text-decoration: none;
}

.main-header {
  background-color: #293449;
  height: 42px;
}

.top-navigation {
  vertical-align: top;
  font-size: 0;
}

.nav-logo {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.nav-search {
  display: inline-block;
  width: 260px;
  font-size: 17px;
  line-height: 18px;
}

.nav-user-items {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.btn-user-item {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
}

.header-about-info {
  background-color: #f1f5f7;
  height: 278px;
  font-size: 0;
}

.header-about-info-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 320px;
  height: 153px;
}

.header-shop-description {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  width: 210px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-left: 52px;
}

.header-about-number {
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 18px;
  width: 194px;
  height: 28px;
  border: 3px solid #ffffff;
  text-align: left;
  padding-left: 70px;
  padding-top: 10px;
  color: #e9292a;
  margin-top: 46px;
}

.header-about-number::before {
  position: absolute;
  top: 10px;
  left: 14px;
  content: "\1f4de";
  color: #b7bfc8;
  font-family: "symbols-technomart";
  font-size: 22px;
  line-height: 18px;
}

.header-about-adress {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-top: 5px;
}

.header-user-items {
  font-size: 0;
  margin-top: 46px;
  height: auto;
}

.btn-login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 31px;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  padding-left: 48px;
  padding-top: 14px;
  padding-right: 27px;
}

.btn-login::before {
  position: absolute;
  top: 14px;
  left: 15px;
  content: "\2386";
  color: #c5c5c5;
  font-family: "symbols-technomart";
  font-size: 22px;
  line-height: 18px;
}

.btn-login:hover {
  color: #ee3643;
}

.btn-login:hover::before {
  color: #32425c;
}

.btn-login:active {
  color: #b2b2b2;
}

.btn-login:active::before {
  color: #c5c5c5;
}

.btn-registration {
  display: inline-block;
  vertical-align: top;
  height: 31px;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  padding-left: 25px;
  padding-top: 14px;
  padding-right: 25px;
  margin-left: 10px;
}

.btn-registration:hover {
  color: #ee3643;
}

.btn-registration:active {
  color: #b2b2b2;
}

.main-menu {
  background-color: #32425c;
  color: #ffffff;
  height: 55px;
  border-bottom: 5px solid #293449;
}

.list-main-menu {

}

.list-main-menu li {
  font-size: 17px;
  line-height: 17px;

}

.main-menu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 30px;
}

.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  color: #8e939c;
}
/*===================================*/
/*Слайдер*/

.index-promo {
  margin-top: 50px;
}

.index-promo-slider {
  float: left;
  width: 620px;
  height: 410px;
  font-size: 0;
}

.index-promo-slider-item {
  display: inline-block;
  vertical-align: top;
  width: 620px;
  height: 266px;
  background-color: #342432;
  margin-top: 10px;
}

.index-promo-items {
  float: right;
  width: 320px;
  height: 410px;
}

.index-promo-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 123px;
  font-size: 14px;
  margin: 10px;
}

.index-promo-items .index-promo-item {
  margin-left: 0;
}

.index-promo-slider .index-promo-item:first-child {
  margin-left: 0;
}

.index-promo-slider .index-promo-item:nth-child(2){
  margin-right: 0;
}

.index-promo-item-description {
  float: left;
  width: 160px;
  text-align: right;
}

.index-promo-item-description span {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  margin-left: 21px;
  margin-top: 21px;
  text-align: left;
}

.btn-promo-item {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  height: 24px;
  padding-top: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12px;
  margin-left: 23px;
}

.btn-promo-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo-item:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.index-promo-slider .btn-promo-item {
  margin-left: 25px;
}

.index-promo-items .btn-promo-item {
  margin-right: 2px;
}

.index-promo-item-icon {
  float: right;
  width: 140px;
}

.icon-promo {
  position: relative;
  width: 100%;
  height: 123px;
}

.icon-mechanism::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 62px;
  margin-top: 30px;
  margin-left: 30px;
  background-image: url("../img/index-mechanism-icon.png");
  background-repeat: no-repeat;

}

.icon-materials::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 65px;
  margin-top: 30px;
  margin-left: 53px;
  background-image: url("../img/index-materials-icon.png");
  background-repeat: no-repeat;
}

.icon-tools::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 61px;
  margin-top: 33px;
  margin-left: 37px;
  background-image: url("../img/index-tools-icon.png");
  background-repeat: no-repeat;
}

.icon-discount::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 59px;
  height: 72px;
  margin-top: 26px;
  margin-left: 36px;
  background-image: url("../img/index-discount-icon.png");
  background-repeat: no-repeat;
}

.icon-delivery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 63px;
  margin-top: 32px;
  margin-left: 31px;
  background-image: url("../img/index-delivery-icon.png");
  background-repeat: no-repeat;
}

.index-promo-materials {
  background-color: #f6b22d;
}

.index-promo-tools {
  background-color: #4aafde;
}

.index-promo-mechanism {
  background-color: #cc79d1;
}

.index-promo-discount {
  background-color: #85d179;
}

.index-promo-delivery {
  background-color: #f6b22d;
}

/*Конец блока слайдера*/

.index-popular {
  margin-top: 63px;
}

.index-highlight-block {
  background-color: #f7f3ec;
  height: 89px;
  padding-left: 29px;
}

.index-highlight-title {
  float: left;
  width: 450px;
  margin-top: 27px;
}

.index-hightlight-btn {
  float: right;
  width: 300px;
  margin-top: 23px;
}

.btn {
  font-size: 14px;
  line-height: 18px;
  display: block;
  width: 160px;
  height: 33px;
  padding-top: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
}

.btn-red {
  width: 253px;
  background-color: #ee3643;
  height: 27px;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding-top: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

.index-services {
  background-color: #f2f6f8;
  height: 522px;
}

.index-popular-items {
  font-size: 0;
  margin-top: 20px;
  height: 319px;
}

.index-popular-items .catalog-item:last-of-type {
  margin-right: 0;
}

/*Переделать потом*/
/*Ипорт из демки списка товаров*/
.catalog-item {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.new:before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: url('../img/new-flag.png') no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #fff;
}

.actions .buy,
.actions .bookmark {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #63a63e;
}

.actions .buy {
  box-shadow: inset 0 -3px 0 #367315;
}

.actions .bookmark {
  width: 129px;
  padding: 7px 0;
  color: #63a63e;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item-image {

  overflow: hidden;
}

.catalog-item-image img {
  max-width: 100%;
}

.catalog-item .title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 10px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  color: #fff;
  border-radius: 3px;
  background: #ee3643;
}

.catalog-item .price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 20px solid #fff;
  border-left-color: #ee3643;
}

/*=============*/

.index-brands {
  margin-top: 21px;
}

.index-brands .index-highlight-block {
  padding-left: 23px;
}

.index-popular-brands {
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 65px;
}

.index-popular-brand-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  height: 143px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.index-popular-brand-item:nth-child(4n+4) {
  margin-right: 0;
}

.index-popular-brand-item img {
  margin-top: 72px;
  transform: translateY(-50%);
  overflow: hidden;
}

.index-popular-brand-item a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.index-popular-brand-item:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.index-popular-brand-item:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.index-popular-brand-item:active img {
  opacity: 0.3;
}

.index-services-description {
  padding-top: 65px;
  width: 460px;
  height: 150px;
}

.index-services-description h4 {
  margin: 0;
}

.index-services-description p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  margin-top: 28px;
}

.index-services-slider {
  margin-top: 20px;
  height: 284px;
  width: 100%;
  outline: 1px dotted black;
}

.index-about-company {
  margin-bottom: 86px;
}

.index-about-company p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company-left {
  float: left;
  width: 560px;
}

.about-company-right {
  float: right;
  width: 321px;
}

.about-company-left h4 {
  margin-top: 80px;
  margin-bottom: 0;
}

.about-company-left p:first-of-type {
  margin-top: 28px;
  width: 520px;
}

.about-company-left p:last-of-type {
  margin-top: 24px;
  width: 520px;
}

.about-company-right h4 {
  margin-top: 80px;
  margin-bottom: 0;
}

.about-company-right p {
  margin-top: 30px;
  width: 180px;
  margin-bottom: 0;
}

.list-lines {
  margin-top: 22px;
  margin-bottom: 0;
}

.list-lines li {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 20px;
  padding-left: 35px;
  padding-bottom: 20px;
}

.list-lines li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.btn-about {
  margin-top: 15px;
  width: 220px;
}

.index-about-map {
  width: 300px;
  height: 158px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn-map {
  width: 300px;
}
/*====================*/
.footer-info {
  background-color: #32425c;
  height: 193px;
}

.btn-logo-header {
  font-size: 24px;
  line-height: 24px;
  height: 21px;
  width: 220px;
  padding: 10px 0;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.btn-logo-footer {
  font-size: 30px;
  line-height: 30px;
  height: 25px;
  width: 220px;
  padding: 19px 0;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  margin-bottom: 0;
}

.footer-info-left {
  float: left;
  width: 390px;
}

.footer-info-left p {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  margin-top: 28px;
  margin-left: 1px;
}

.footer-info-right {
  float: left;
  width: 550px;
}

.list-footer-up-nav {
  display: block;
  width: 100%;
  margin-top: 39px;
  text-align: right;
}

.list-footer-up-nav li {
  margin-left: 59px;
  margin-right: 0;
}

.list-footer-up-nav li:first-of-type {
  margin-left: 0;
}

.list-footer-up-nav a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.list-footer-up-nav a:hover {
  text-decoration: underline;
}

.list-footer-up-nav a:active {
  color: #929caa;
  text-decoration: none;
}

.list-footer-bottom-nav {
  display: block;
  width: 100%;
  margin-top: 31px;
  text-align: right;
}

.list-footer-bottom-nav a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.list-footer-bottom-nav a:hover {
  text-decoration: underline;
}

.list-footer-bottom-nav a:active {
  color: #998a6e;
  text-decoration: none;
}

.list-footer-bottom-nav li {
  margin-left: 59px;
  margin-right: 0;
}

.list-footer-bottom-nav li:first-of-type {
  margin-left: 0;
}


/*===========================*/
.footer-copyrights {
  height: 107px;
  background-color: #293449;
  font-size: 0;
}

.footer-copyrights-item {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  text-align: center;
  margin-top: 37px;
}

.footer-copyrights-item p {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 140px;
  text-align: left;
  padding-top: 0;
  margin-top: 0;
}

.footer-copyrights-item:first-of-type p {
  width: 230px;
  display: inline-block;
}

.footer-copyrights-item:first-of-type {
  text-align: left;
}

.footer-copyrights-item:last-of-type p:first-child {
  display: inline-block;
  width: 150px;
  margin-right: 38px;
  padding: 0;
}

.footer-copyrights-item:last-of-type p:last-child {
  width: 110px;
  margin-right: 22px;
}

.footer-copyrights-item:last-of-type a {
  text-decoration: none;
  color: #ffd180;
}

.footer-copyrights-item:last-of-type a:hover {
  text-decoration: underline;
  color: #ffd180;
}

.footer-copyrights-item:last-of-type a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social {
  margin-right: 50px;
}

.btn-footer-social {
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
  color: #ffffff;
  text-align: center;
  margin-right: 5px;
  font-size: 0;
  text-decoration: none;
}

.btn-footer-social:last-of-type {
  margin-right: 0;
}

.btn-footer-social span {
  font-size: 18px;
  line-height: 40px;
}

.btn-footer-social:hover {
  background-color: #ee3643;
}

.btn-footer-social:active {
  background-color: #ee3643;
}

/*Иконочный шрифт*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "Л„" */
.icon-down::before { content: "\2c5"; } /* "Л…" */
.icon-left-big::before { content: "\2190"; } /* "в†ђ" */
.icon-right-big::before { content: "\2192"; } /* "в†’" */
.icon-login::before { content: "\2386"; } /* "вЋ†" */
.icon-logout::before { content: "\241b"; } /* "вђ›" */
.icon-up-dir::before { content: "\25b2"; } /* "в–І" */
.icon-down-dir::before { content: "\25bc"; } /* "в–ј" */
.icon-circle::before { content: "\25cb"; } /* "в—‹" */
.icon-circle-dot::before { content: "\25cf"; } /* "в—Џ" */
.icon-star::before { content: "\2605"; } /* "в…" */
.icon-check-off::before { content: "\2610"; } /* "вђ" */
.icon-check-on::before { content: "\2611"; } /* "в‘" */
.icon-youtube::before { content: "\f39e"; } /* "пЋћ" */
.icon-home::before { content: "\1f3e0"; } /* "\1f3e0" */
.icon-user::before { content: "\1f468"; } /* "\1f468" */
.icon-phone::before { content: "\1f4de"; } /* "\1f4de" */
.icon-instagramm::before { content: "\1f4f7"; } /* "\1f4f7" */
.icon-search::before { content: "\1f50d"; } /* "\1f50d" */
.icon-bookmark::before { content: "\1f516"; } /* "\1f516" */
